body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {

    background-color: black;


}

.titulo {
    color: white;
    margin-right: 0vh;
}

.conteiner {

    display: flex;
    justify-content: space-between;
}

.conteiner img {
    height: 9vh;
    margin-left: 39vw;
    margin-top: 1.5vh;

}

.conteiner ul {

    display: flex;
    width: 30vw;
    justify-content: space-between;
    margin-right: 4vw;
    margin-top: auto;
    margin-bottom: auto;
}

ul a {
    text-decoration: none;
    color: white;
}

.banner {

    background-image: url('img/fundo-login-cadastro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    position: relative;
}

.banner .opac {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

 .casas h1{
color: white;
text-align: center;
margin-top: 100px;
font-size: 70px;
font-weight: 1100;
}
/* 
.imagens {
    width: 600px;
} */

.imagens img{
display: flex;
height: 30vh;
margin-left: 9vw;
width: 20vw;
border-bottom: 200px;
border: solid rgb(255, 255, 255) 5px;

}

.imagens button{

    margin-left: 15vw;
    margin-top: 3vh;
    border-radius: 30px;
    background-color: rgb(159, 152, 152);
    color: white;
    font-size: 20px;
    }




footer {
    color: white;
    height: 100%;
    min-height: 250px;
    background-color: black;
    display: flex;
}

footer .box {

    width: 26vw;
    min-height: 150px;
    padding: 20px;
}

footer .box:nth-child(4) {
    width: 400px;
}

.box h2 {

    margin-bottom: 4vh;

}

.box ul li {

    margin: 10px 0px;
    list-style: none;
}

.box ul li a {

    color: white;
    text-decoration: none;
}

.box ul li a:hover {

    color: white;

}

.box p {

    text-align: justify;

}

.footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.box img {

height: 15vh;
}

.box .ul{

    display: flex;
    justify-content: space-between;
    width: 10vw;
    margin-left: 6vw;
}

.box{

text-align: center  ;
margin-left: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
  
}

.botoes{
text-align: center;
margin-top: 20px;

}

.casas{

margin-top: 10vh;

}

@media(max-width: 950px) {
    footer {
        width: 100%;
        min-height: 250px;
        background-color: black;
        display: flex;
        flex-direction: column;

    }
}