body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {

    background-color: black;

}

.titulo {
    color: white;
    margin-right: 90vh;
}

.conteiner {

    display: flex;
    justify-content: space-between;
   
}

.conteiner img {
    height: 5vh;
    margin-left: 6vw;
    margin-top: 1.5vh;

}

.conteiner ul {

    display: flex;
    width: 19vw;
    justify-content: space-between;
    margin-right: 4vw;
    margin-top: auto;
    margin-bottom: auto;
}

ul a {
    text-decoration: none;
    color: white;
}

.banner {

    background-image: url('https://cdn.mos.cms.futurecdn.net/2vzQG7obGTiVToReayVvT9.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    position: relative;
}

.banner .opac {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
}

.card_login {
    height: 50vh;
    color: white;
    justify-content: column;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    margin-left: 40vw;
    width: 25vw;
    border: 3px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    position: absolute;

    background: rgba(5, 5, 5, 0.9);
}


.card_login button{

    border-radius: 6px;
    height: 3vh;
    width: 4vw;
    }

.card_login input{

    border-radius: 6px;
    background-color: rgb(175, 169, 216);
     
    }
    
    .card_login ::placeholder{
    
    color: black;
    
    }

.card_login a {

text-decoration: none;
color: rgb(114, 96, 228);
}

.alerta_erro{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    align-items: center;
    margin-left: 2vw;
    
}

  
  .card_erro {
    display: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 15vw;
    /* position: fixed; */
    border-radius: 2vh;
    border: #e6005a 0.5vh solid;
    padding: 1vh 1vw;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 3vh;
    text-align: center;
  }
  .loading-div {
    width: 5vw;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 5vh;
    width: 5vw;
  }

footer {
    color: white;
    height: 100%;
    min-height: 250px;
    background-color: black;
    display: flex;
}

footer .box {

    width: 26vw;
    min-height: 150px;
    padding: 20px;
}

footer .box:nth-child(4) {
    width: 400px;
}

.box h2 {

    margin-bottom: 4vh;

}

.box ul li {

    margin: 10px 0px;
    list-style: none;
}

.box ul li a {

    color: white;
    text-decoration: none;
}

.box ul li a:hover {

    color: white;

}

.box p {

    text-align: justify;

}

.footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.box img {

height: 15vh;
}

.box .ul{

    display: flex;
    justify-content: space-between;
    width: 10vw;
    margin-left: 6vw;
}

.box{

text-align: center  ;
margin-left: 4vw;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(max-width: 950px) {
    footer {
        width: 100%;
        min-height: 250px;
        background-color: black;
        display: flex;
        flex-direction: column;

    }
}