body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {

    background-color: black;


}

.titulo {
    color: white;
    margin-right: 70vh;
}

.conteiner {

    display: flex;
    justify-content: space-between;
}

.conteiner img {
    height: 5vh;
    margin-left: 6vw;
    margin-top: 1.5vh;

}

.conteiner ul {

    display: flex;
    width: 30vw;
    justify-content: space-between;
    margin-right: 4vw;
    margin-top: auto;
    margin-bottom: auto;
}

ul a {
    text-decoration: none;
    color: white;
}

.banner {

    background-image: url('img/fundo-regras.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    position: relative;
}

.banner .opac {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
}

.card{

background: rgb(0, 0, 0, 0.9);
height: 100vh;
width: 60vw;
margin-top: 10vh;
margin-left: 20vw;
color: white;
text-align: center;
border: 3px solid palevioletred;
border-radius: 90px;
}
 
.regras h1{


font-size: 60px;
color: rgb(191, 162, 201);
}

.regras p{
font-size: 20px;
text-align: center;
}

.pergunta{

cursor: pointer;
    
}

footer {
    color: white;
    height: 100%;
    min-height: 250px;
    background-color: black;
    display: flex;
}

footer .box {

    width: 2vw;
    min-height: 150px;
    padding: 20px;
}

footer .box:nth-child(4) {
    width: 400px;
}

.box h2 {

    margin-bottom: 5vh;

}

.box ul li {

    margin: 2vh 0px;
    list-style: none;
}

.box ul li a {

    color: white;
    text-decoration: none;
}

.box ul li a:hover {

    color: white;

}

.box p {

    text-align: justify;

}

.footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.box img {

height: 15vh;
}

.box .ul{

    display: flex;
    justify-content: space-between;
    width: 6vw;
    
}

.box{

text-align: center  ;
margin-left: 20vw;
}

.flex-container {
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
   
    
}

@media(max-width: 950px) {
    footer {
        width: 100%;
        min-height: 250px;
        background-color: black;
        display: flex;
        flex-direction: column;

    }
}